 .calculator{
  display: flex;
	  flex-direction:column;
	  gap:10px;
  justify-content: center;
  align-items: center;
 padding:20px;
  margin: auto;
	  border:1px solid black;
	  width:350px

}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 80px);
}
input{
	width:318px;
}